body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #131212e8;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 400px;
    background: #f1efef;
    padding: 20px;
    border-radius: 50px;